*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(0, 0, 0);
    color: white; */
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px ;
}
body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

/* logo ki baari  */
.logo{
    display: flex;
}
.logo h4{
    font-size: 34px;
    cursor: pointer;
}
.logo img{
   height: 40px;
   padding-right: 10px;
}

/* ab .navbar  */
.navbar{
    display: flex;
    gap: 40px;
}
.navbar a {
    font-size: 25px;
    color: #cccccc;
    transition: 0.3ms ;
}
.navbar a:hover{
    color: white;
}

/* Now ab button (get started)  */
.btn button {
    background-color: #222222;
    color: white;
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* ab main hero section ki baari 😎  */
main h1{
    text-align: center;
    font-size: 150px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.filter-buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 60px;
}
.filter-btn{
    background-color: #222222;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}
.filter-btn:hover{
    background-color: #444444;
}
.filter-btn:active{
    background-color: #f05a28;
}
.active-btn{
    background-color: #f05a28;
    color: white;
}

/* ab baari hai cards ko chedne ki 😁  */
.cards-containers{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 50px;
    margin-bottom: 50px;
}
.cards-containers img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;

}
.cards-containers h3{
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 1.4;
    padding: 0 20px;
    padding-left: 20px;
    font-weight: normal;
}
.cards-containers span{
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: lighter;
    /* color: grey; */
    /* padding-bottom: 12px; */
}
.tech{
    color: orange;
}
.cards-containers div{
    background-color: #111010;
    border-radius: 15px;
    /* width: 30%; */
    overflow: hidden;
    padding: 4px;
    transition: 1ms ease-in-out;
}
.cards-containers div:hover{
    transform: translateY(-10px);
}
.box{
    background-color: #42210e;
    color: #ff7142;
    padding: 6px 14px;
    /* padding-left: 50px; */
    border-radius: 20px;
    display: inline-block;
    width: fit-content;
    /* margin-left: 20px; */
    margin-bottom: 55px;
    font-size: 13px;
    /* font-weight: bold; */
    margin-left: 17px;
}
.cards-containers span:not(.box){
    color: #888888; 
    font-size: 14px;
    display: block;
    padding: 0 20px; 
    margin-bottom: 20px; 
}